.custom-icon {
    color: #ffff;          /* white */
    margin: 32px !important;
    font-size: 26px !important;  /* this will actually make it large */
}

.dropdown-item:active{
    background-color: #053f0f !important;
}

.form--control1 {
    height: 30;
    /* border-radius: 6px; */
    color:black;
    font-weight: 400;
    outline: none;
    width: 90%;
    padding: 3px 9px;
    background-color: #fff;
    /* border: 1px solid #dfdfdf; */
    margin-right: 10px;
    margin-top: 3px;
}